.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    span,button,h3{
        cursor: pointer;
    }
    .header_in{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 1px solid rgb(241, 241, 241);

        .left{
            display: flex;

            & > h2{
                margin-left: 20px;
                font-size: 29px;
                color: green;
            }

            .none{
                display: none;
            }

            .block{
                display: block;
            }

            & > span svg{
                width: 30px;
                height: 30px;
                margin-top: -38px;
                margin-left: 20px;
                color: gray;
            }

            & > h3{
                margin-left: 20px;
                margin-top: 34px;
                color: gray;
            }
        }

        .right{
            display: flex;

            & > span svg{
                width: 30px;
                height: 30px;
                color: gray;
                margin-right: 30px;
                margin-top: 17px;
            }

            & > h3{
                margin-right: 30px;
                color: gray;
            }

            & > button{
                margin-top: 13px;
                margin-bottom: 12px;
                padding: 12px 30px !important;
                background-color: #ff2366;
                border: none;
                outline: none;
                color: white;
                font-size: 18px;
                font-weight: 600;
                border-radius: 24px;
                margin-right: 20px;

                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}
.navbar{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu{
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 7px;
    list-style: none;
    text-decoration: none;
    color: black;

    &:hover{
        color: rgb(63, 223, 63);
    }

    .left{
        margin-left: 12px;
    }
}
.dropdown{
    top: 80px;
    position: absolute;
    transform: translateX(45%);
    width: 300px;
    height: auto;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    background-color: white;

    &:hover{
        color: greenyellow;
    }
    ul,li{
        text-decoration: none;
        list-style: none;
        color: black !important;
    }
    .esas{
        margin-top: 7px;
        margin-left: -36px;
        border: 1px solid black;
        border-radius: 14px;
    }
    .closed{
        display: none;
    }
    .open{
        margin-top: 2px;
        display: block;
        &>li{
            margin-top: 2px;
            padding: 6px 40px 6px 0px;
            border: none;
            margin-right: 90px;
            background-color: rgb(240, 240, 240);
        }
    }
    #global svg{
        width: 20px;
        height: 20px;
        margin-top: 0;
    }
    

    #Subshare{
        margin-top: 20px;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sosial{
            color: black ;
            font-size: 17px;
            font-weight: 500;
        }
        .sosial svg{
            width: 24px;
            height: 24px;
        }

        .face svg:hover{
            color: #334c95;
        }
        .face:hover{
            color: #334c95;
        }

        .twi svg:hover{
            color: #0899e1;
        }
        .twi:hover{
            color: #0899e1;
        }

        .ins svg:hover{
            color: #ff1717;
        }
        .ins:hover{
            color: #ff1717;
        }
    }
   
}

.icon-button:hover{
    filter: brightness(1.2);
}